BETTER_AUTH_URL=http://localhost:3000

NEXT_PUBLIC_BASE_URL=http://localhost:5000

BETTER_AUTH_SECRET=your_secret_key_here

MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0

GOOGLE_CLIENT_ID=google_client_id.apps.googleusercontent.com

GOOGLE_CLIENT_SECRET=your_google_client_secret